In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic-dataset/train (2).csv

In [2]:
df = pd.read_csv('/kaggle/input/titanic-dataset/train (2).csv')[['Age','Pclass','SibSp','Parch','Survived']]

In [3]:
df.isnull().sum()

Age         177
Pclass        0
SibSp         0
Parch         0
Survived      0
dtype: int64

In [4]:
df.dropna(inplace=True)

In [5]:
df.head()

    Age  Pclass  SibSp  Parch  Survived
0  22.0       3      1      0         0
1  38.0       1      1      0         1
2  26.0       3      0      0         1
3  35.0       1      1      0         1
4  35.0       3      0      0         0

In [6]:
X = df.iloc[:,:3]
y = df.iloc[:,-1]

In [7]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [8]:
np.mean(cross_val_score(LogisticRegression(),X,y,scoring='accuracy',cv=20))

0.6836507936507935

## Applying Feature Construction

In [9]:
X['Family_type'] = df['SibSp'] + df['Parch'] 
X['Family_type']

0      1
1      1
2      0
3      1
4      0
      ..
885    5
886    0
887    0
889    0
890    0
Name: Family_type, Length: 714, dtype: int64

In [10]:
def myfunc(num):
    if num ==1:
        return 0
    elif num>1 and  num<=4:
        return 1
    else:
        return 2

In [11]:
X.head()

    Age  Pclass  SibSp  Family_type
0  22.0       3      1            1
1  38.0       1      1            1
2  26.0       3      0            0
3  35.0       1      1            1
4  35.0       3      0            0

In [12]:
X['FamilySize'] = X['Family_type'].apply(myfunc)

In [13]:
X

      Age  Pclass  SibSp  Family_type  FamilySize
0    22.0       3      1            1           0
1    38.0       1      1            1           0
2    26.0       3      0            0           2
3    35.0       1      1            1           0
4    35.0       3      0            0           2
..    ...     ...    ...          ...         ...
885  39.0       3      0            5           2
886  27.0       2      0            0           2
887  19.0       1      0            0           2
889  26.0       1      0            0           2
890  32.0       3      0            0           2

[714 rows x 5 columns]

In [14]:
X.drop(columns=['Pclass','SibSp','Family_type'], inplace=True)

In [15]:
X

      Age  FamilySize
0    22.0           0
1    38.0           0
2    26.0           2
3    35.0           0
4    35.0           2
..    ...         ...
885  39.0           2
886  27.0           2
887  19.0           2
889  26.0           2
890  32.0           2

[714 rows x 2 columns]

In [16]:
np.mean(cross_val_score(LogisticRegression(),X,y,scoring='accuracy',cv=20))

0.6446825396825397

## Feature Splitting

In [17]:
df = pd.read_csv('/kaggle/input/titanic-dataset/train (2).csv')

In [18]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [19]:
df['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [20]:
df['Title'] = df['Name'].str.split(',',expand=True)[1].str.split('.',expand=True)[0]
df['Title']

0         Mr
1        Mrs
2       Miss
3        Mrs
4         Mr
       ...
886      Rev
887     Miss
888     Miss
889       Mr
890       Mr
Name: Title, Length: 891, dtype: object

In [21]:
df[['Title','Name']]

     Title                                               Name
0       Mr                            Braund, Mr. Owen Harris
1      Mrs  Cumings, Mrs. John Bradley (Florence Briggs Th...
2     Miss                             Heikkinen, Miss. Laina
3      Mrs       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4       Mr                           Allen, Mr. William Henry
..     ...                                                ...
886    Rev                              Montvila, Rev. Juozas
887   Miss                       Graham, Miss. Margaret Edith
888   Miss           Johnston, Miss. Catherine Helen "Carrie"
889     Mr                              Behr, Mr. Karl Howell
890     Mr                                Dooley, Mr. Patrick

[891 rows x 2 columns]

In [22]:
(df.groupby('Title')['Survived']).mean().sort_values(ascending=False)

Title
the Countess    1.000000
Mlle            1.000000
Sir             1.000000
Ms              1.000000
Lady            1.000000
Mme             1.000000
Mrs             0.792000
Miss            0.697802
Master          0.575000
Col             0.500000
Major           0.500000
Dr              0.428571
Mr              0.156673
Jonkheer        0.000000
Rev             0.000000
Don             0.000000
Capt            0.000000
Name: Survived, dtype: float64

In [23]:
df['Title'] = df['Title'].str.strip()

In [24]:
df['IsMarried'] = 0
df.loc[df['Title']=='Mrs','IsMarried'] = 1

In [25]:
df[['IsMarried','Title']]

     IsMarried Title
0            0    Mr
1            1   Mrs
2            0  Miss
3            1   Mrs
4            0    Mr
..         ...   ...
886          0   Rev
887          0  Miss
888          0  Miss
889          0    Mr
890          0    Mr

[891 rows x 2 columns]